<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="csrf-token" content="QfZeg2Tb7pQvwUg6AJO4IpDW0DTYJ0sCoPPtd6O8">
        <title>CAPITAL SWIFT BANK | Credit/Debit Card</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Swift and Secure Money Transfer to any UK bank account will become a breeze with CAPITAL SWIFT BANK."/>
        <meta name="csrf_token" content="QfZeg2Tb7pQvwUg6AJO4IpDW0DTYJ0sCoPPtd6O8" id="csrf_token" data-turbolinks-permanent>
        <link rel="shortcut icon" href="storage/app/public/photos/vfrIHvABt6idQp5IfHdDn5z1qz6Ul3GBMRL2x0tE.jpg"/>
        <link rel="stylesheet" href="dash2/libs/%40fortawesome/fontawesome-pro/css/all.min.css">
        <link href="dash2/konanauth/public/asset/fonts/fontawesome/css/all.css" rel="stylesheet" type="text/css">
        <link href="dash2/public/dashboard/plugins/custom/leaflet/leaflet.bundle.css" rel="stylesheet" type="text/css"/>
        <link href="dash2/konanauth/public/dashboard/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
        <link href="dash2/konanauth/public/dashboard/css/style.bundle.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
        <link rel="stylesheet" href="dash2/konanauth/public/vendor/megaphone/css/megaphone.css">
        <style>
            [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid], [wire\:loading\.inline-flex] {
                display: none;
            }

            [wire\:loading\.delay\.shortest], [wire\:loading\.delay\.shorter], [wire\:loading\.delay\.short], [wire\:loading\.delay\.long], [wire\:loading\.delay\.longer], [wire\:loading\.delay\.longest] {
                display: none;
            }

            [wire\:offline] {
                display: none;
            }

            [wire\:dirty]:not(textarea):not(input):not(select) {
                display: none;
            }

            input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
                animation-duration: 50000s;
                animation-name: livewireautofill;
            }

            @keyframes livewireautofill {
                from {
                }
            }
        </style>
        <style>
            @font-face {
                font-family: Graphik;
                font-weight: 400;
                src: url("dash2/konanauth/public/public/asset/fonts/Graphik/GraphikRegular.otf");
            }

            @font-face {
                font-family: Graphik;
                font-weight: 700;
                src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikMedium.otf");
            }

            @font-face {
                font-family: Graphik;
                font-weight: 800;
                src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikBold.otf ");
            }

            @font-face {
                font-family: Graphik;
                font-weight: 900;
                src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikMedium.otf");
            }
        </style>
        <style>
            .iti {
                position: relative;
                display: block;
            }

            body {
                font-family: "Graphik", sans-serif;
            }

            pre,code,kbd,samp {
                font-family: "Graphik", Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
            }

            .tooltip {
                font-family: "Graphik", sans-serif;
            }

            .popover {
                font-family: "Graphik", sans-serif;
            }

            .text-monospace {
                font-family: "Graphik", Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
            }

            .btn-group-colors > .btn:before {
                font-family: "Graphik", sans-serif;
            }

            .has-danger:after {
                font-family: 'Graphik';
            }

            .fc-icon {
                font-family: "Graphik", sans-serif;
            }

            .ql-container {
                font-family: "Graphik", sans-serif;
            }
        </style>
        <style>
            .page-loading {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: all .4s .2s ease-in-out;
                transition: all .4s .2s ease-in-out;
                background-color: #ffffff;
                visibility: hidden;
                z-index: 9999;
            }

            .page-loading.active {
                opacity: 1;
                visibility: visible;
            }

            .page-loading-inner {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                text-align: center;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-transition: opacity .2s ease-in-out;
                transition: opacity .2s ease-in-out;
                opacity: 0;
            }

            .page-loading.active>.page-loading-inner {
                opacity: 1;
            }

            .page-loading-inner>span {
                display: block;
                font-size: 1rem;
                font-weight: normal;
                color: #9397ad;
            }

            .page-spinner {
                display: inline-block;
                width: 4.75rem;
                height: 4.75rem;
                margin-bottom: .75rem;
                vertical-align: text-bottom;
                border: .15em solid #0a24f4;
                border-right-color: transparent;
                border-radius: 50%;
                -webkit-animation: spinner .75s linear infinite;
                animation: spinner .75s linear infinite;
            }

            @-webkit-keyframes spinner {
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @keyframes spinner {
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        </style>
    </head>
    <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-fixed aside-default-enabled">
        <div class="page-loading active text-indigo">
            <div class="page-loading-inner">
                <div class="page-spinner"></div>
                <span></span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="google_translate_element"></div>
        </div>
        <div class="d-flex flex-column flex-root">
            <div class="page d-flex flex-row flex-column-fluid">
                <div id="kt_aside" class="aside aside-default bg-white aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
                    <div class="aside-logo flex-column-auto pt-9 pb-5" id="kt_aside_logo">
                        <a href="/">
                            <img alt="Logo" src="storage/app/public/photos/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" class="logo-default" style="height:auto; max-width:30%;"/>
                            <img alt="Logo" src="storage/app/public/photos/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" class="h-50px logo-minimize" style="height:auto; max-width:30%;"/>
                        </a>
                    </div>
                    <div class="aside-menu flex-column-fluid">
                        <div class="menu menu-column menu-fit menu-rounded menu-title-dark menu-icon-dark menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-5 my-5 mt-lg-2 mb-lg-0" id="kt_aside_menu" data-kt-menu="true">
                            <div class="menu-fit hover-scroll-y me-lg-n5 pe-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="20px" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer">
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link  active " href="/dashboard">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-home fs-3"></i>
                                        </span>
                                        <span class="menu-title">Dashboard</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/accounthistory/<%=user._id%>">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-heart-rate fs-3"></i>
                                        </span>
                                        <span class="menu-title">Transactions</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/localtransfer">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-send fs-3"></i>
                                        </span>
                                        <span class="menu-title">Local Transfer</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/internationaltransfer">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-bank fs-3"></i>
                                        </span>
                                        <span class="menu-title">International Wire Transfer</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/deposits">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-download fs-3"></i>
                                        </span>
                                        <span class="menu-title">Deposit</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/card">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-credit-card fs-3"></i>
                                        </span>
                                        <span class="menu-title">Virtual Card</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/loan">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-coin fs-3"></i>
                                        </span>
                                        <span class="menu-title">Loan Request</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/viewloan/<%=user._id%>">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-exchange fs-3"></i>
                                        </span>
                                        <span class="menu-title">Loan History</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/account-settings">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                            <i class="fal fa-cog fs-3"></i>
                                        </span>
                                        <span class="menu-title">Settings</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/support">
                                        <span class="menu-icon">
                                            <i class="fal fa-clipboard-list-check fs-3"></i>
                                        </span>
                                        <span class="menu-title">Support Ticket</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link " href="/logout">
                                        <span class="menu-icon">
                                            <i class="fal fa-sign-out fs-3"></i>
                                        </span>
                                        <span class="menu-title">Logout</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside-footer flex-column-auto" id="kt_aside_footer"></div>
                </div>
            </div>
        </div>
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
                <!--begin::Container-->
                <div class="container-fluid d-flex align-items-stretch justify-content-between">
                    <!--begin::Logo bar-->
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                        <!--begin::Logo-->
                        <a href="/dashboard" class="d-lg-none">
                            <img alt="Logo" src="storage/app/public/photos/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" style="height:auto; max-width:30%;"/>
                        </a>
                        <!--end::Logo-->
                    </div>
                    <!--end::Logo bar-->
                    <!--begin::Topbar-->
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <!--begin::Search-->
                        <div class="d-flex align-items-stretch"></div>
                        <!--end::Search-->
                        <!--begin::Toolbar wrapper-->
                        <div class="d-flex align-items-stretch flex-shrink-0">
                            <div class="megaphone d-flex align-items-center ms-1 ms-lg-3">
                                <div class="btn btn-icon btn-active-light-primary position-relative w-30px h-30px w-md-40px h-md-40px" id="kt_notify_button"></div>
                            </div>
                            <div class="d-flex align-items-center ms-2 ms-lg-3" id="kt_header_user_menu_toggle">
                                <!--begin::Menu wrapper-->
                                <div class="cursor-pointer symbol symbol-50px symbol-circle" data-kt-menu-trigger="{default: 'click'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                    <div class="symbol-label fs-2 fw-bolder text-dark">
                                        <img alt="" src="/IMG_UPLOADS/<%=user.image%>" width="50" height="50" style='border-radius: 50%;'>
                                    </div>
                                </div>
                                <!--begin::User account menu-->
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true" style="">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <div class="menu-content d-flex align-items-center px-3">
                                            <!--begin::Avatar-->
                                            <div class="symbol symbol-50px symbol-circle me-5">
                                                <div class="symbol-label fs-2 fw-bolder text-dark">
                                                    <img alt="" src="/IMG_UPLOADS/<%=user.image%>" width="50" height="50" style='border-radius: 50%;'>
                                                </div>
                                            </div>
                                            <!--end::Avatar-->
                                            <!--begin::Username-->
                                            <div class="d-flex flex-column">
     <div class="fw-bolder d-flex align-items-center fs-5"><%=user.firstname%><%=user.lastname%>"
                      </div>
                                                <!-- <div class="fw-semibold text-hover-primary fs-5">
                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="197d7c7476597b7676747a71786b6d37777c6d">[email&#160;protected]</a>
                      </div> -->
                                            </div>
                                            <!--end::Username-->
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="menu-item px-5 mb-0">
                                        <a href="/support" class="menu-link px-5 py-3">
                                            <i class="fal fa-clipboard-list-check me-3"></i>
                                            Support Ticket
                  
                                        </a>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="menu-item px-5 mb-0">
                                        <a href="/account-settings" class="menu-link px-5 py-3">
                                            <i class="fal fa-user me-3"></i>
                                            My Profile
                  
                                        </a>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="menu-item px-5 mb-0">
                                        <a href="/logout" class="menu-link px-5 py-3" >
                                            <i class="fal fa-sign-out me-3"></i>
                                            Sign Out
                  
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::User account menu-->
                                <!--end::Menu wrapper-->
                            </div>
                            <!--end::User -->
                            <!--begin::Aside Toggle-->
                            <div class="d-flex align-items-center d-lg-none ms-1 ms-lg-3">
                                <div class="btn btn-icon btn-icon-dark btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_toggle">
                                    <!--begin::Svg Icon | path: icons/duotone/Text/Menu.svg-->
                                    <span class="svg-icon svg-icon-2x">
                                        <i class="fa-thin fa-bars"></i>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                            </div>
                            <!--end::Aside Toggle-->
                        </div>
                        <!--end::Toolbar wrapper-->
                    </div>
                    <!--end::Topbar-->
                </div>
                <!--end::Container-->
            </div>
            <div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
                <div></div>
                <div wire:id="J0M9MsqGI1xVNT8lUgAs" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;J0M9MsqGI1xVNT8lUgAs&quot;,&quot;name&quot;:&quot;megaphone.popout&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;user\/card\/manage\/95a1fa51-88b7-4773-acc9-0e07b355976d&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;85c6d4a6&quot;,&quot;data&quot;:{&quot;user&quot;:[],&quot;announcements&quot;:[],&quot;unread&quot;:[],&quot;read&quot;:null,&quot;rules&quot;:{&quot;unread&quot;:&quot;required&quot;,&quot;announcements&quot;:&quot;required&quot;}},&quot;dataMeta&quot;:{&quot;models&quot;:{&quot;user&quot;:{&quot;class&quot;:&quot;App\\Models\\User&quot;,&quot;id&quot;:&quot;92647996-3b3d-4510-895d-2b1a85d093e0&quot;,&quot;relations&quot;:[&quot;business&quot;],&quot;connection&quot;:&quot;mysql&quot;,&quot;collectionClass&quot;:null}},&quot;modelCollections&quot;:{&quot;announcements&quot;:{&quot;class&quot;:&quot;Illuminate\\Notifications\\DatabaseNotification&quot;,&quot;id&quot;:[&quot;32eb80e7-2a1a-4be8-9fe2-26e74392fc24&quot;,&quot;4c31a31a-82c6-42b2-bcf0-ce56bee2dcbc&quot;,&quot;e50f312e-a66c-4801-94d8-4fe31ada4268&quot;,&quot;8072cea1-bc59-4bff-b787-8aabe294f89e&quot;,&quot;e2b45620-5f1a-4c30-82e1-8f5a69d64df2&quot;,&quot;38f25e04-aaae-4a64-85e8-1750e670299c&quot;,&quot;cf61dd96-246a-4987-a1b0-c72bc5de3032&quot;,&quot;16643158-a623-4edf-8873-2f04f094063f&quot;,&quot;c2d0446a-602c-4351-9115-51262b8ff17f&quot;,&quot;6c5af9ee-5b96-4cb2-9517-958262a5aa8a&quot;,&quot;65dc492f-59a1-49eb-9a22-fd4a7591118e&quot;,&quot;626978ec-eca4-454a-bfd3-dc0212c6edb6&quot;,&quot;e20c60c3-7ab1-492d-9bbf-373cb35e6b3a&quot;,&quot;36ce1d53-fe4e-4202-a04e-e1dc74a7ec63&quot;,&quot;4a5b8247-10f4-44db-afa4-e8304ec9c16b&quot;,&quot;d8d01417-b086-463f-8552-a2c28e3e9e81&quot;,&quot;f3f54ed4-928b-473d-b23b-5faafa016753&quot;,&quot;dfe98c06-f4d4-417d-8785-2e7a96dcd562&quot;,&quot;89e50b97-c679-4797-b201-df088eaa683c&quot;,&quot;a752943c-9cf5-4a8c-878d-2eae6d2662e6&quot;,&quot;8d1486ef-d369-4400-869c-fce2e510fe66&quot;,&quot;7315daf7-3109-4c7e-9a4e-60d811e94868&quot;,&quot;c178f8c0-7f69-4273-b025-b2593cd487e5&quot;,&quot;160b283c-22c4-4fdb-9a83-8eda37ba8f5d&quot;,&quot;d7806c33-ac83-40a5-85d8-1d60633ac240&quot;,&quot;a5b54787-5753-442e-ad9b-edce85c61cbe&quot;,&quot;e814d30d-0c32-43fa-87d6-0c624d0539f6&quot;,&quot;1175d561-3ac4-4934-a4ed-295eabb0b3c9&quot;,&quot;320b5b10-6eeb-4eca-9767-3fab32388627&quot;,&quot;6c94261d-461c-46ac-b49a-81e08394e965&quot;,&quot;9001cc30-d450-4381-8e26-61a79d4f0386&quot;,&quot;df5a7088-0760-4142-9e0b-93da7339444a&quot;,&quot;42aaa864-4fed-4041-b3f1-40d679a026da&quot;,&quot;4a2f28ed-6fe4-48ed-8bd4-a8fbc05d7b81&quot;,&quot;cb92cd01-0935-4806-ab89-a302a18fd0fd&quot;,&quot;7ff7700e-9b59-42ba-a805-1737bf92bb7b&quot;,&quot;f5df54d9-4b66-4407-ac25-ff0663070e59&quot;,&quot;b2a1ac86-bc0b-4d26-af5b-131e6313612c&quot;,&quot;13b87cac-c9b9-4871-97d9-9d020adc481b&quot;,&quot;548bc0b5-0dc1-4ea3-9a94-4faed335fdd0&quot;,&quot;01a2d641-c753-4bca-987a-1855a0b6125b&quot;,&quot;0a82d5e2-ecbe-4014-b713-67b62f44ba62&quot;,&quot;ce71bd18-0422-4c72-ba0e-c70922063b4d&quot;,&quot;55da2b00-507c-41b6-b67f-0e62a84ff405&quot;,&quot;6cef7e45-7af4-47d3-9bcb-47c4d55c64c4&quot;,&quot;20d5ddaa-6c97-4373-9f61-547a80a6f712&quot;,&quot;3a084638-76ba-41ee-bb2b-9540dc967c1e&quot;,&quot;53c2d44a-2ec4-4974-a4c4-91747f6b257b&quot;,&quot;308fe6f8-d2d4-46ad-aa1c-9146b7a7b8ca&quot;,&quot;5e9e9cec-69e6-4954-8398-89d68264e89e&quot;,&quot;4d5243d5-6ca8-4858-9b0b-f17212884a4f&quot;,&quot;cf8af70a-19ce-4e8c-80a6-a29c971c9472&quot;,&quot;a92cd3fa-2125-45e2-a946-4c2c2975489f&quot;,&quot;8f9ae9d3-c95b-4518-aeaa-364d1a8ab50a&quot;,&quot;acac5e69-6471-4f38-8fac-c39956fdb5fb&quot;,&quot;6b9582e6-6175-4b5c-8137-d201e3f4fdce&quot;,&quot;5392352a-612e-4384-8ba0-53907c99ccbb&quot;,&quot;832c9a8b-ae29-4301-906e-d618c9b45038&quot;,&quot;474ba324-9646-4a0a-b01b-7ad8a88f79a8&quot;,&quot;dc7b28be-b66e-42a6-b716-04533d1e33a0&quot;,&quot;24cc2541-9c0d-4e12-bb48-febd85980325&quot;,&quot;191de5fc-fde5-40c4-8320-9634379df1a2&quot;,&quot;6ae0bf97-0904-438d-bc69-5d2dbb24928b&quot;,&quot;9e54f619-9e73-407f-a5f6-2252df8a676c&quot;,&quot;a3b997d5-2826-48b3-8e08-0caf5a8e18dc&quot;,&quot;2282db75-982a-4041-b134-969baa1f58c3&quot;,&quot;58e62640-7e05-4e2f-8024-01c10bd8ea74&quot;,&quot;91c906d2-a9cd-4e7a-9ab2-b149ba0375b8&quot;,&quot;b902be7b-d403-48f8-98f8-0b2525dbb295&quot;,&quot;a4f52365-5190-4cab-ab61-b0c71c3ca145&quot;,&quot;7f1da4a1-0b82-48ec-bea6-4e3d7d80fcd8&quot;,&quot;a1614f6b-3f13-49a2-b8d0-e58ec7b0bdfd&quot;,&quot;9d0d7385-fdd7-49e8-86aa-4ff8491e51bf&quot;,&quot;e3b6c0a3-a5d7-4f56-b968-6fb84c66584c&quot;,&quot;a42e8e54-2735-44ed-b686-ae52eb55424a&quot;,&quot;26ba09d6-3f5b-4df8-9fbe-9f3e6305dc42&quot;,&quot;98a92f4e-0e6e-4a0a-a40c-6fa2c05f7d0c&quot;,&quot;ec7425b0-8972-4969-b4f9-c0c5bac19823&quot;,&quot;f57b1665-dd0b-49d3-8faa-565bc531e026&quot;,&quot;6d62404c-46bc-4f36-9952-a46e72d71927&quot;,&quot;4279b7cf-c676-4e2f-9806-36065c3bbcab&quot;,&quot;86a3382a-e917-4f22-bc94-0f50d46325a2&quot;,&quot;99fbdeaf-de7c-4eb6-92fc-26a1283dcd4f&quot;,&quot;d581ddc0-cb72-4fb6-a807-147f3e3594c3&quot;,&quot;8c38d9c9-1d93-4faf-8c35-c677190b4a09&quot;,&quot;df38ba81-0b76-4b03-bf51-757ad4d8b8e7&quot;,&quot;6e255c61-4245-457e-8ff8-8b3d3f7cd601&quot;,&quot;b5427962-5f35-4a2a-921f-e19e02d8e961&quot;,&quot;6c0ffbf3-3752-4fd3-b546-05ccf6e20634&quot;,&quot;496136da-6b1f-42f1-86dd-298bf6b8c121&quot;,&quot;33c5bdd3-569d-4a01-89c0-f80c2ff38cc9&quot;,&quot;99e20581-3ede-4f8c-a5db-6ed84843e778&quot;,&quot;afb65c90-1bca-49cb-b395-d149322d47ec&quot;,&quot;f5666b9a-1fdc-4a73-90b1-81015fb9cb08&quot;,&quot;b0abf49b-fa81-430a-bc33-05da2a9e6f15&quot;,&quot;f63a61ea-7521-485a-9375-c413b942fc6f&quot;,&quot;8b2df270-b726-42fd-adc3-58a002db6873&quot;,&quot;07948a43-ce54-4d28-acb6-8e43a2293af8&quot;,&quot;60f73f7f-61c7-4238-87b0-0bf8b4740e43&quot;,&quot;c2262d3b-d2fa-4b1c-8409-8be1532dc222&quot;,&quot;5294d253-7c5d-443c-8381-9a54e672ee1d&quot;,&quot;ea5fa451-b81f-49ce-82f8-ff5b0833d0b1&quot;,&quot;5b58e017-4761-4a6c-bcbe-4e8b93152511&quot;,&quot;4f7c7079-7fd4-4e76-b481-cfc76f55fca4&quot;,&quot;d47ef1db-182b-4fcc-be11-94ab90763f42&quot;,&quot;9ac4debf-7b11-4d19-93a9-99dba811f8b1&quot;,&quot;8662f4de-2e0d-4798-99ec-8cfccde480ff&quot;,&quot;1b5289c2-9f4a-4b27-9e2c-627a1386dd92&quot;,&quot;ae1acf67-d062-4168-82a1-5dc1a0cc6a02&quot;,&quot;3b54695c-7f26-400c-843f-df7309d0e916&quot;,&quot;2a91bb9c-66dc-4f7f-b369-0be2c0e77244&quot;,&quot;f53a6e1f-f8c1-4d5a-b5ee-9dfb2c4333ad&quot;,&quot;8d9b9b7e-e7bf-4871-9d17-b35c7a40009e&quot;,&quot;516d450e-c311-4792-9508-b18701bad884&quot;,&quot;bcb181d7-0e5c-4733-9fb1-f6dd5be580da&quot;,&quot;637c6e16-74dc-435f-9e29-fcbf6a26a126&quot;,&quot;fb7000b2-1613-467f-80bd-fbb1000b2e88&quot;,&quot;ffc17d0c-9918-48bb-9cbe-fd1a04fdef55&quot;,&quot;9adbf2c0-b728-4433-b96a-4fe1025f6e75&quot;,&quot;e481880e-d9e9-4ba1-895f-bca622c89cc6&quot;,&quot;52307823-0607-4ee8-8493-48aee174e5cd&quot;,&quot;37630383-c906-4c60-9f15-b1f18bb8e684&quot;,&quot;ff2cceaf-3574-4ada-ab1d-7d283dafceb6&quot;,&quot;8080a68e-528c-47e6-bfd0-7cf68ce8df42&quot;,&quot;e678b966-5b6d-4b7f-968c-9b9add841344&quot;,&quot;1f8648d3-a31d-4222-b816-9021d83fc114&quot;,&quot;3b4976d4-10bb-4bc8-8687-3395e30a2436&quot;,&quot;6493cfbb-c3d5-47a0-b05c-9a68a814c344&quot;,&quot;1e72db09-4100-488b-ae9c-ac5af6113afe&quot;,&quot;9f638425-f69c-4594-b650-e50745338c09&quot;,&quot;d5f647b3-5da0-4119-a309-fc3eb4336a60&quot;,&quot;934bbfbe-517b-4201-85df-18a51f10c19a&quot;,&quot;934bbfbe-517b-4201-85df-18a51f12c19a&quot;],&quot;relations&quot;:[],&quot;connection&quot;:&quot;mysql&quot;,&quot;collectionClass&quot;:&quot;Illuminate\\Notifications\\DatabaseNotificationCollection&quot;},&quot;unread&quot;:{&quot;class&quot;:&quot;Illuminate\\Notifications\\DatabaseNotification&quot;,&quot;id&quot;:[&quot;7596417e-a0dd-47c2-8889-4241fb520f90&quot;,&quot;66184b99-3831-40d6-b44d-22cf319bea5c&quot;,&quot;3e6de4ca-8e99-466f-bca5-8b1d4a86cac3&quot;,&quot;d764ece5-8095-4953-bae1-d1101da00cf0&quot;,&quot;34a5a88d-32d3-4045-80d4-5b3978ed8f8e&quot;,&quot;51e6ba9f-6b31-4b1e-9f12-be41ee0d8c67&quot;,&quot;4e4d23c6-e893-4ef9-a5d9-c5e7d9da319d&quot;,&quot;2c4e9576-c4d3-4800-becb-660aa0a0e3c7&quot;,&quot;697ac8ab-a689-4cd5-9a85-eda7d8d5b749&quot;,&quot;60608361-fb8b-444d-aae4-57457cb17d3c&quot;,&quot;1ae56408-6c74-46fb-9f41-0a3acdc811f7&quot;,&quot;e79cfc74-e742-488f-a3f8-c0fac6b53fa7&quot;,&quot;35ef379d-0dbe-4018-8005-acd967df19a5&quot;,&quot;579d539b-40a7-423a-81e4-b81c3043b690&quot;,&quot;e8b73778-8c71-4baa-a532-ac2d700b966d&quot;,&quot;ebd00b03-1fe3-41c9-9f40-a6cae75a25e5&quot;,&quot;8e1d3620-c6bf-413b-9a73-13bbbc216451&quot;,&quot;8fb1733a-782c-45a2-b896-26053f109adb&quot;,&quot;c70545a2-72c5-42cc-a197-1e2f626052f5&quot;,&quot;623443e6-a57b-46c6-af00-32c793bddf2c&quot;,&quot;fff8af27-ffd7-4a63-acd8-b48b7359372d&quot;,&quot;40f9c742-bbb9-4583-873e-06a83b08663f&quot;,&quot;7bb56db8-a1a1-462f-b503-3fb797912463&quot;,&quot;5546a4cd-c814-461b-ada6-9735ffb1d171&quot;,&quot;9fe368cc-10b2-4a37-84b0-7d7d6289f289&quot;,&quot;e2ae329f-0541-47cb-b4ba-2bc7c21f5006&quot;,&quot;9e62a752-a6d4-4785-af70-aa51f3d226b9&quot;,&quot;793d5618-5388-4c43-877a-e485a78c3e54&quot;,&quot;c8c805ee-c0f4-4532-b219-b3db5e2a8276&quot;,&quot;d54d7210-d7d2-4cb1-ab15-2de4f2584b38&quot;,&quot;5497c7a1-483f-4866-a306-cc120bc5a66a&quot;,&quot;545780ba-35b6-42b3-9790-91ad580edcb6&quot;,&quot;f5dd562e-73eb-4f6b-9ea7-76b5c41bf75a&quot;,&quot;286d93f5-6b68-45e5-96fb-bfd8db1adbbd&quot;,&quot;d7ff571c-bf3a-40fe-856e-06799885bcb3&quot;,&quot;fb242d78-d88f-4b37-885d-34220f3ebffc&quot;,&quot;4aa9c7fe-64b1-41e9-a490-837d1340ba0f&quot;,&quot;cd574f84-a2e1-40d8-bafa-264043f11f0b&quot;,&quot;1eeb6717-81f0-464a-934d-34dc2d104895&quot;,&quot;50386556-2c13-4fdd-b615-b75869cda85c&quot;,&quot;536e9306-8132-4715-b02a-33ec6608eb2f&quot;,&quot;5b3ab764-c07e-4d88-a5ad-4b64e7170f34&quot;,&quot;02c1dfd5-525f-4ed4-9cfa-0f0886aec4d1&quot;,&quot;789a10ef-0cb2-4687-82e8-f48c51407a8e&quot;,&quot;5208ec62-5ef6-44c2-8dcc-0221426f1c8d&quot;,&quot;9b3edb47-cf69-4301-beac-51e6b3e3e3dd&quot;,&quot;f956b9bd-3e30-4cdb-8b95-67f82c19779f&quot;,&quot;2f22ef1a-53a7-4ce8-84bb-68f060e0b362&quot;,&quot;10248199-f49b-403b-b28d-5022fe237e94&quot;,&quot;9c5f8e36-f26a-47d4-b108-0964632af36f&quot;,&quot;f665779a-e1b5-45c0-9d11-9654ce8283eb&quot;,&quot;687c730c-421c-4407-90fe-eff1f899c9aa&quot;,&quot;1ac53455-1976-465d-9b94-ee55bb1cde8c&quot;,&quot;30ea40ee-2a5c-4e0b-be58-42cfa522275a&quot;,&quot;559c37b8-dccc-4602-ae40-7bda9ba4138d&quot;,&quot;c0b4a079-f6cf-446b-a6a2-5a871a37bb7b&quot;,&quot;06d0c8c3-9b33-41a6-b3eb-60e68d425b1e&quot;,&quot;304e0ad9-aa1f-414f-b17b-0ebe9b496771&quot;,&quot;d23b7d58-09c9-45ab-87df-3a6a27be8a92&quot;,&quot;4f509335-7d76-44ef-9bce-c01eb0582506&quot;,&quot;38d0eb4a-d1ca-41ff-8d43-5da861bada3b&quot;,&quot;115d5cef-474a-47ef-a901-1ee6db4c5c0a&quot;,&quot;b8ba24de-834d-4621-96a7-2020e4d45b96&quot;,&quot;8e39eeb2-c5e4-4be8-92e4-459770072bfc&quot;,&quot;49679bfe-3147-4d5e-9c81-de483b591a9f&quot;,&quot;2753cb0c-21c6-4d5e-8da8-38357d10729e&quot;,&quot;63606dbc-41df-4278-9f17-9189c437251a&quot;,&quot;7dea4e40-0d88-4dfb-9646-72abf61ed2cf&quot;,&quot;11ed1765-9ba6-4793-8291-f7a664c100a5&quot;,&quot;af1882ff-580f-4405-8bab-08a30ef40a55&quot;,&quot;cb62a62c-a550-479e-9d4f-931bdeb726de&quot;,&quot;23a8717d-ba26-4394-8f91-2cd085a1c257&quot;,&quot;f12c93c9-9979-4c3e-96e3-b8f7427b65f8&quot;,&quot;77d164d7-d03a-4279-ae80-ac263fe8b4bf&quot;,&quot;fb74d1c5-ff69-42d4-9ee7-d8727f3798d0&quot;,&quot;1d2d0bdf-1292-40e5-84d5-817c7807bec6&quot;,&quot;f605461b-956d-41cf-a9ec-5d22302f69c1&quot;,&quot;c8918daa-85ab-40b4-859f-82026cff6128&quot;,&quot;43c02c13-a141-40f4-8f6d-7834bfaa09ce&quot;,&quot;89c83df2-30f1-4182-9537-3e44ca7f8d1a&quot;,&quot;afdd9825-568d-41f2-a803-40f141217cdc&quot;,&quot;ea4b6f50-2b4d-42a2-a816-489c8a94a638&quot;,&quot;dbed24b9-ea9b-40d5-afe7-c8e4a7505e88&quot;,&quot;da96d1c3-25f4-4f4c-bfa6-0f144b4c4af9&quot;,&quot;d641d615-d4b0-4d9b-bf77-4ae98715fe2c&quot;,&quot;28176098-1c6f-42f6-978c-966df6e7c46e&quot;,&quot;4990e0fa-68c2-45a1-aa2d-3ac732da759e&quot;,&quot;f1ab4b33-35f8-4efd-a240-4fab8b65cb72&quot;,&quot;f87923f5-ef5a-495a-9c10-c5592f034127&quot;,&quot;9003dcaf-effc-4c3d-8f5e-21a85f6fe7bc&quot;,&quot;57669fd7-9973-4182-94ee-29f7308a53ac&quot;,&quot;4e8ea3c0-d435-4da2-834e-a5294da53006&quot;,&quot;ee144de9-b3fd-4585-b2c3-cd8aa8ee09d9&quot;,&quot;7a5ad780-653c-4d02-b2db-18a75d20c679&quot;,&quot;c6b74ec1-5e62-4cc8-9b19-3b671448751f&quot;,&quot;613e80f3-05b4-426c-99d2-4625b1da1f90&quot;,&quot;e5f1e5fa-56d3-415c-a883-d07cbe479586&quot;,&quot;3f8d3246-82b2-4159-b13b-876565efff1b&quot;,&quot;ec51ca7f-37e8-4ec4-a1ab-cdb080896fcb&quot;,&quot;679c1265-9e57-4e98-9113-3986c47307c8&quot;,&quot;4542fb10-4b2e-416a-882c-1d39424bf38b&quot;,&quot;8a076440-19f9-454f-bc4c-865c2aa0743e&quot;,&quot;6f53e333-b2fc-479b-84a9-5f8a8751ed47&quot;,&quot;cd05efbe-eae8-4e4f-9a08-ea49548a3494&quot;,&quot;58254dbb-0775-43b3-8372-6791f75d8ebf&quot;,&quot;425ffb76-74a8-44f6-8546-a48d415ce8fa&quot;,&quot;9d23c02b-618f-40bd-9b6b-27e58ea281f9&quot;,&quot;a7e32a52-6653-4619-82b6-92cf3b89f8c0&quot;,&quot;f2bb2c22-bf25-46d7-bcdd-f8db30932861&quot;,&quot;e060050e-f62b-4210-ab51-6e11e21fc7ef&quot;,&quot;7831e9f0-981f-4997-95cb-a34fdce1e79c&quot;,&quot;a52ca499-980e-423f-802f-20293ad9be7e&quot;,&quot;83202916-84da-479f-b7f8-47c3a855563f&quot;,&quot;eeb1474e-7357-49c1-bcb2-1879f568b0bd&quot;,&quot;6d883108-3442-4240-9a64-1760ab7b5f31&quot;,&quot;e474bfdf-3963-465c-bf0e-1ec8d77054a1&quot;,&quot;5d592170-ed32-4ace-af35-f6a110fd7f81&quot;,&quot;b4b0613d-d2ed-4290-89fa-ef8b5474591e&quot;,&quot;f8f680ed-ffb9-4bfc-9f82-ca9ab8b2bb3c&quot;,&quot;3bb1cb25-3edf-41ef-b2b8-9de88b8deed3&quot;,&quot;93a86115-463d-44ec-b1a5-281918e46a98&quot;,&quot;a5841ccb-6a97-47e7-975c-21ef3ea943ed&quot;,&quot;dc143366-96e9-4bda-bb6c-3d8e09bf721a&quot;,&quot;3d648b71-b7df-4c4d-bb09-74afdf7e3666&quot;,&quot;1e807bb2-d4e5-4ce0-9456-5d7825b2b807&quot;,&quot;995ff5b9-149e-4640-9097-b3b12aea7704&quot;,&quot;bfc5c0a4-5dcd-45d5-81f9-3cd50905f92f&quot;,&quot;5403d461-8c11-4c17-87f1-79961d580940&quot;,&quot;e35bc821-2450-452d-b0dc-907ab9aa5265&quot;,&quot;fdf877e8-3b52-4a02-8bff-ceb00b08437a&quot;,&quot;fdf88537-bba7-4b93-b2a8-b30638af1cf1&quot;,&quot;2684dc1c-7eec-4d65-81e7-915621cc4474&quot;,&quot;28768b97-ba5b-4c40-9642-d200e681cd6d&quot;,&quot;f61a15cf-cf2d-42f6-a2ad-1f5a39d72cd0&quot;,&quot;1b76c469-4b26-4d6e-b519-3abbef554c19&quot;,&quot;1df3d243-4203-4f6e-afc1-899aba3af1a5&quot;,&quot;8b46a671-00c3-42cb-ba5b-ce67eaeb0acd&quot;,&quot;6a2c0733-f8a6-4dd6-aa49-5580e5c499bd&quot;,&quot;a4ec7244-6df4-4d3b-b04b-1d5c9cd8d545&quot;,&quot;a24d6f2e-2154-4bd4-ad30-0a9ebcabf6a0&quot;,&quot;f4fd405a-d747-4c9a-922b-69bf8699b280&quot;,&quot;b93d5d5f-3147-4f9a-a795-b8494357479d&quot;,&quot;a975e2ff-9131-4912-8867-1014b1b445f1&quot;,&quot;013f36c2-d87f-43a5-8b4a-c14c5567dc42&quot;,&quot;84441141-4f3c-4cc1-868c-12a70f6b9f77&quot;,&quot;a888c7bf-7afc-4318-bec3-d02a3eb8fc49&quot;,&quot;b258bada-93cf-41ff-9bfb-9f9b0ee019cb&quot;,&quot;dd02f8e5-535b-4f1f-96f6-417f51116cce&quot;,&quot;307ea6d7-f7c5-49cc-b0e7-51c342efeb0c&quot;,&quot;fa500002-81e6-4bf1-a26d-14c86cfa69eb&quot;,&quot;7cdd34de-588c-4894-bd96-572f97c798c7&quot;,&quot;df2b0797-849f-466a-8e7a-e179c2d5408c&quot;,&quot;b9cd8f65-a83e-4e56-ba91-fcb6ff2f9682&quot;,&quot;d18eb2c7-4b5b-4a16-8ac8-d880c1110db8&quot;,&quot;7ab3678a-102c-4a32-a9c4-366434376bce&quot;,&quot;5598422f-3fdf-4fa1-b03e-690be7c54f2f&quot;,&quot;fc627bfe-4130-4a65-b00f-8ec0672806a4&quot;,&quot;29f8a8c6-d397-4c02-8daf-65060d4d0799&quot;,&quot;d188657b-3854-49f7-a801-2a1dfdf8c4d8&quot;,&quot;654e2fe5-a8ca-4e6a-aaaa-641b5d957c6f&quot;,&quot;670e6ad1-e535-4606-af3e-7fca0a68df3e&quot;,&quot;4a91b719-6efc-4a43-ba4e-1a5a38ed810b&quot;,&quot;5c93efc9-ce30-4f6e-992f-902d39198a85&quot;,&quot;9f3e55a5-7b2f-4b65-b331-126559d28686&quot;,&quot;c8b26f2e-c80b-4f82-acca-213938a2e31e&quot;,&quot;9b5aa534-52da-410c-8810-836a8e8c7ecb&quot;,&quot;35508f5a-b64a-47ae-855d-2a077237c076&quot;,&quot;dae2e024-30df-482e-8066-3976b51c233f&quot;,&quot;2a6ed5ff-43f5-4278-92c8-63b222dc85e7&quot;,&quot;676045ad-3e56-42ee-919c-39c2524800b1&quot;,&quot;19b911f3-a3f7-4243-92a4-6c84e3d85eb0&quot;,&quot;974302e8-282c-4909-9dc5-06b24eee9d46&quot;,&quot;b1c1f0ec-333b-4d9c-94ff-10f5c6999cca&quot;,&quot;9bde62eb-eb0a-4a96-85a1-6b476075e51d&quot;,&quot;9197fb5a-79a3-47bf-a4b9-d99f1a604a8e&quot;,&quot;468a6be6-6c97-4cf0-a666-db0c086e3b1a&quot;,&quot;f7484161-effa-41bf-b2d8-05f4c69b2426&quot;,&quot;c6d20f3d-fb66-4d73-a259-e3a821828916&quot;,&quot;fdbf5e00-fcbb-4585-8c3b-a9f385cfc865&quot;,&quot;381d89ab-c25d-4691-82a6-af36d65fb9a7&quot;,&quot;c8f88c50-f8e2-4044-a912-f0191393dcbd&quot;,&quot;75ba956f-9d93-4afc-abcd-dfd55d34d03f&quot;,&quot;9be0c5ce-734e-48de-b7f5-4c8128d4c857&quot;,&quot;5d4ed975-f752-468a-82b2-f5c491960f06&quot;,&quot;5b361e5f-8e2b-4738-ad93-b17b6fc9acd1&quot;,&quot;236e0365-52c5-450a-962d-4c473bfea523&quot;,&quot;b8a81d21-0e93-4fa1-b04c-021ce9b7c6c0&quot;,&quot;4b78dee0-5943-4dc1-9ae8-234cac68cab2&quot;,&quot;344ff441-4089-47b3-bb62-c62fb84332f4&quot;,&quot;82284661-1d89-484c-b962-f3b3324743dc&quot;,&quot;a4dd0203-3f2d-49c9-9cb9-91007b2b3db7&quot;,&quot;995c64af-4200-4128-bc72-95db004354b0&quot;,&quot;814a6718-0c78-44cd-bd88-11e0d76151ec&quot;,&quot;31cc0529-a5be-4e00-98a3-70501cad881f&quot;,&quot;ba786a2c-5f84-426a-ae36-196452e9aab2&quot;,&quot;869d3e0d-ce3a-4ecd-8357-441378276c11&quot;,&quot;84587a30-19f4-4ba1-b5eb-452c53117e23&quot;,&quot;e7914a50-d2b3-4fbd-85df-967e31f072ca&quot;,&quot;eb94e45a-5227-49a6-a3a6-c1c50cb96a87&quot;,&quot;85f37c92-746a-45f8-b9ec-76f498bbc42d&quot;,&quot;8b11ff20-ff03-4eca-b515-63cfbdaf5ecc&quot;,&quot;9c0e2a8a-e146-4dca-bd7d-34326630ffe9&quot;,&quot;6e70a063-728b-41d9-abde-6571fe7d882a&quot;,&quot;836f2665-d0e7-4271-963f-7cb586c6243b&quot;,&quot;dced91b0-d659-434e-aa7e-5d01b501f5c1&quot;,&quot;dcac41fb-4c3a-456a-95db-c66d8335814c&quot;,&quot;9066773b-06ac-4904-a18a-898d33e55eb0&quot;,&quot;c3cddc90-97c5-474a-94f7-3d6c7b53bfbc&quot;,&quot;8219e1d4-2542-4d29-91a1-79af67e3e1e5&quot;,&quot;ce11512f-400d-49ad-8c56-119d2e3d7b6a&quot;,&quot;eafe2c49-b604-4ecf-9463-a79177a0355c&quot;,&quot;73f752af-c896-44ed-a9b3-e86b8295f918&quot;,&quot;2390d123-a745-42ec-b700-55f1ef0123a3&quot;,&quot;a673e40b-522c-466a-9df5-5295b36bc6d7&quot;,&quot;c6bd0142-44f0-4a8e-b6e5-a01e186ad715&quot;,&quot;fd3643f0-7e2e-4c63-b9dc-193bfde9c059&quot;,&quot;e310b389-088d-44c3-a0ba-41bac07a25d0&quot;,&quot;ee2ca9bc-23fb-4113-bc3b-7ba40b506a71&quot;,&quot;0dfa8849-8534-4cf3-b10d-742884149523&quot;,&quot;9e6c0fa4-e3af-4309-ae61-13fd628879de&quot;,&quot;c7668f39-8a4e-4aaa-8b30-31cf8567930c&quot;,&quot;93e93570-6a12-41af-b661-c5403c76fe24&quot;,&quot;079faea9-b7ee-4a02-a926-35b187261fae&quot;,&quot;aa368b19-2d35-48b1-87f9-2ce565ea35bf&quot;,&quot;c8638719-7016-463f-bab0-b6868edd78ac&quot;,&quot;4b64aa08-01f1-44cd-b8d4-52fa5e1d5430&quot;,&quot;1314a9ff-efa3-451e-a090-c28a65c80465&quot;,&quot;afa586ab-f1f4-48f5-aa64-bfcf70f1e904&quot;,&quot;b3f12405-bf97-4632-b5f6-dc4a5a3c19a3&quot;,&quot;acc4221c-c706-4c31-912b-944b5083c346&quot;,&quot;e803e790-13b0-4e36-b1cc-ba47dddc50ec&quot;,&quot;09e190cf-3280-496e-ac47-947b0f533c94&quot;,&quot;0bf0e1f3-6075-4b02-b81d-0cbe41137a20&quot;,&quot;41186846-9d02-4e12-aadf-3a69e571b1aa&quot;,&quot;fc7c574b-d130-47e5-a528-6e796af9f2c4&quot;,&quot;a1623f2d-46bb-4d70-a10a-d1edda815450&quot;,&quot;829c6317-a353-4330-b172-73a8e258468d&quot;,&quot;6fc55d17-7a2a-4e60-a54f-033fb954806e&quot;,&quot;f8f1e761-bc5d-47e0-9ff9-fc6a5a6800e6&quot;,&quot;451eb459-69cf-429e-b8d0-2627a27f0bb1&quot;,&quot;75707f70-53c7-4071-8d43-37745b790d24&quot;,&quot;bfce113b-6116-45e8-bcc6-ef85964d4f04&quot;,&quot;e153914c-2f2e-45a5-82ff-d3e57290365d&quot;,&quot;dd4d109f-c7f5-488f-91ac-540fba987703&quot;,&quot;add78c42-d843-4c52-a163-9ab636bb93eb&quot;,&quot;17ffe94c-931b-4ddd-824e-b8ab3293ea22&quot;,&quot;f9488259-6124-4625-8a33-babde8ce31f9&quot;,&quot;544c9e18-b56e-4c45-bea4-5eed921e62fe&quot;,&quot;f5a88240-05ea-4f31-b0dd-d15c648d5ed3&quot;,&quot;7e0ba226-ebd4-4717-9803-d87a2b6a68e5&quot;,&quot;42a08398-628f-46fb-872c-8a6d023fc284&quot;,&quot;5a65a46c-9180-4f01-aa34-30c06c7262f5&quot;,&quot;d0cb4417-0fb2-4de7-bbc8-39ccee3c0c4e&quot;,&quot;893596a3-3e7c-4287-9643-0db70740c511&quot;,&quot;e9e1427e-2f95-445c-a248-0c719cefc079&quot;,&quot;7950860d-95a9-4e18-9698-9fde17017d70&quot;,&quot;2e75fbff-4440-4cd1-b4a2-31770aa79415&quot;,&quot;5b542034-c9eb-40d6-9cfc-64ee46e7921f&quot;,&quot;a77889ae-7b5a-44a8-8438-5fdd81bd5585&quot;,&quot;2ee6d3e8-0f2b-461d-b69e-7cefac0c6caa&quot;,&quot;8d17f48e-60b8-46d7-94de-a12dacb82ca5&quot;,&quot;d02718a3-27d3-4f39-9939-50234cb7efc3&quot;,&quot;929745ce-794f-4c27-b37a-182790a79712&quot;,&quot;eba19a58-a7b2-4060-8100-910c5455bc4d&quot;,&quot;e2f10df1-019e-4441-bb87-7703e2614da8&quot;,&quot;c0849a9e-2452-4834-9160-1dda53d2efa9&quot;,&quot;3b4c24b7-30ec-44be-bcd5-a30ae589669f&quot;,&quot;a4e7f8b6-fcc2-44ca-96cd-f21a6754fe49&quot;,&quot;899db90b-c258-4eef-ac36-cdac8a95f73a&quot;,&quot;9867760a-0d2d-4dc0-a8c2-95c335eb8ff8&quot;,&quot;da6cd3a2-d6ac-4e98-af14-aeed4838de10&quot;,&quot;81137f1a-ed4d-415b-a572-2052ddf1689f&quot;,&quot;40437676-6e43-4906-8a5c-166f635b8adc&quot;,&quot;bc7975f0-e7dd-498f-8dda-114ae102a1b6&quot;,&quot;bb810181-c7dd-49d3-9295-3554bc1049e2&quot;,&quot;6a686a50-a7ee-466e-b7f1-501f5749835f&quot;,&quot;212dd212-9fc2-4950-b5c8-13097bbed3da&quot;,&quot;ca8fc757-a0b9-4d2c-8bea-ed89b63f856d&quot;,&quot;16e3114c-58ec-439c-b2d3-b499e95b7fbb&quot;,&quot;23219094-105f-4de9-b17e-95c54feda997&quot;,&quot;e8905d64-a813-47b3-9d03-161a9956f0a1&quot;,&quot;17426019-6fd6-4a4e-8c3d-f70b413c57cd&quot;,&quot;8dbfa30e-f872-4b5a-872a-13f7ff53f9e5&quot;,&quot;6e5a0576-61bb-4b3c-8287-c8abbe8a9600&quot;,&quot;fb037a40-ea45-4056-aa4e-bf744d4b8195&quot;,&quot;e6f84e88-d12f-41ae-b2cc-279fe4dae6c2&quot;,&quot;fadcca69-e55a-40c2-9b0e-0582b5f28746&quot;,&quot;81496256-2601-476f-9385-cabcfa356674&quot;,&quot;241eef66-9996-4d6e-ae1e-bfa4960cf5e6&quot;,&quot;734f24ce-edb9-4965-bb86-debea52746e6&quot;,&quot;3ce974c1-8896-43a2-ace5-cb1e8c2c71a5&quot;,&quot;fff67657-67af-46aa-8a93-830a0e7e16f0&quot;,&quot;9a128a1b-faaa-4f80-8a2e-3c103a34ff22&quot;,&quot;ad5f1a0d-dccf-4d48-a6f6-460f01d1490e&quot;,&quot;b0ae11c0-4712-4ccc-bf3f-6b1aa1441204&quot;,&quot;21a37ad8-54c6-452b-a275-62467ee61c3e&quot;,&quot;db1a6a38-323d-477d-b7ce-61d9ecee5078&quot;,&quot;1300349f-cfc7-4408-a5b0-3a75bc84bee4&quot;,&quot;fae5064b-3a05-4251-82c5-dd6b2e96c4c9&quot;,&quot;7c8c1129-c124-4caa-9cc4-4bc54ca010f4&quot;,&quot;25cfdd51-15c8-4ca1-b0e8-1d3f1854fecd&quot;,&quot;3a19a024-6b6e-4eb4-b3c4-9cd96ae1a76b&quot;,&quot;a6067b4f-a561-4c89-93c3-040b0192878f&quot;,&quot;8feadb64-af60-4c2c-9611-2a0c7e957789&quot;,&quot;27da8c44-ff41-42f2-9323-01275e346560&quot;,&quot;9f7cfca9-4c8e-4b50-a179-aad2612b02fb&quot;,&quot;ce9e910f-ca6f-4ec0-890b-a8e5ca6d8c5f&quot;,&quot;e1baad4f-8575-4d76-9af5-f9c461f9607c&quot;,&quot;c4dc042c-6e83-4ea3-accd-28865530a13e&quot;,&quot;ac0b6eaf-f85f-4e08-9bb3-472c586a24ff&quot;,&quot;c60d1f19-b650-471a-9d08-79b51291146c&quot;,&quot;fb8be2a3-3fd4-46dd-9785-a198fb451c2e&quot;,&quot;34b86fa9-e8b5-47bb-8784-79817ce7bcf6&quot;,&quot;aa6a5681-2b5f-4062-8941-3d439cf83fd3&quot;,&quot;b75ddf9b-ff55-4c44-962c-fd7f00b96df8&quot;,&quot;3ef48a0f-0ab7-4779-944f-45cdea1dab98&quot;,&quot;5c55af3b-741b-466c-8321-e031d3330a9f&quot;,&quot;eeace423-e62b-47e7-89ea-dcf95f8bf246&quot;,&quot;824f1bda-4aac-4071-bfa6-3ec0687c2e85&quot;,&quot;5b807661-db11-40a5-8525-6afbb438315d&quot;,&quot;bc615229-20b1-4bed-9533-beb1da056ca5&quot;,&quot;074a065a-3ec9-47b3-a5be-64b68692e13c&quot;,&quot;9ae03493-f3d3-44e2-acde-903378f3b0db&quot;,&quot;7cd48afa-c82d-4181-917e-85d3244593ec&quot;,&quot;d78d5d38-59a3-43f7-a0da-c350dcb55c96&quot;,&quot;1f21c311-aa28-4de9-a23f-a2fbb61859a4&quot;,&quot;3eeba89a-6c78-4e39-a5f7-0c9a1459e2df&quot;,&quot;6fd49999-b01b-49cb-8c90-355953fb0c58&quot;,&quot;e7d9116e-7574-4b31-90ab-543309646938&quot;,&quot;af31ff69-0bd7-4da4-a82d-444b14cdfe0d&quot;,&quot;1a17725c-8194-4456-87f7-96811b68de46&quot;,&quot;df76ca6c-1110-48d2-9639-a78d986869f6&quot;,&quot;0e33c4e1-104b-43a7-a45c-84afd0ca047c&quot;,&quot;71542c9b-495f-4027-83fe-bb313be90ffb&quot;,&quot;39eb30fd-0ec2-480d-80b4-92d4c45bedfc&quot;,&quot;84dcc4e0-3048-4e0b-9432-e45a0250da60&quot;,&quot;c6fec5be-46a9-4c81-87c5-0cde68095665&quot;,&quot;2f8a7cc0-c010-4130-bc2c-158bf990c9b6&quot;,&quot;8e893c61-6200-4554-984c-eec0711674b6&quot;,&quot;4df2cd67-5330-4061-9dd0-2e63eaf12761&quot;,&quot;d94e22bd-caf2-4678-975d-2179e93718ad&quot;,&quot;f587c115-581b-46ae-a3f3-8a9d8eab3e1a&quot;,&quot;c82ed6f0-a1de-46dd-8c8a-2f7a00fa064c&quot;,&quot;8fb08614-9566-43b5-87bb-8e708245f3da&quot;,&quot;ed694bf9-5b73-4587-9630-4f09506a3d19&quot;,&quot;1d803a67-1d17-45a9-adb8-dd572c77ae02&quot;,&quot;3d2bf09e-aa69-46cc-a0fe-4d09ce3744ff&quot;,&quot;43d4e763-7589-49ba-b658-07d54bf5467d&quot;,&quot;318a7b6c-50f5-4f6f-b810-fcf2644517ff&quot;,&quot;b060f5ac-74b0-4cc0-b675-0a376159911b&quot;,&quot;1e507331-a357-432e-a5c7-c6f637f84fc3&quot;,&quot;dc5b7403-fbb8-4988-9fae-e00e1fecb99b&quot;,&quot;be823b83-a0f6-4aed-b71d-3158de34d7d5&quot;,&quot;f7e2fdcc-b9f2-4df6-913c-0393250b17f5&quot;,&quot;2546b369-23cb-4117-9cd2-6d4de67ddefe&quot;,&quot;8ee49393-7d7a-467e-8944-4fbe13dc9522&quot;,&quot;f5aed4fa-9055-45c2-9d2b-fec001db5616&quot;,&quot;c15be0fc-90b8-4dd7-9d3b-aee82aa2b4cd&quot;,&quot;11dc4dd2-0022-48dd-a213-435c2032729e&quot;,&quot;064d65d7-3105-4356-891b-b18a854ce45d&quot;,&quot;e1abb77a-f255-465b-b75d-2345b216f793&quot;,&quot;1e6e39bb-2e87-4627-a80c-0ba97d699d8e&quot;,&quot;b9537063-7376-4096-94e5-dbc97ee37912&quot;,&quot;6a7fb54e-8f47-4132-a5cc-969af4341942&quot;,&quot;27cfee23-2e5b-4472-ad3e-cb40516d8c37&quot;,&quot;4ad9f3ba-22f0-4863-9927-da580868935e&quot;,&quot;846170d3-ff1e-402e-b341-649af76fa3c7&quot;,&quot;60f3a5e1-19ce-4cf7-a7c3-958ef9a30306&quot;,&quot;2ceaf417-9634-442d-b2ba-b6c726ae47bf&quot;,&quot;bae7027d-1611-4430-9a43-e6d7a4e7cd5d&quot;,&quot;f4d16bb6-7eda-4e3a-9b37-dbaf21b41ea7&quot;,&quot;84f9bbca-e169-433b-9726-39cff84588fc&quot;,&quot;2d290318-61a3-47a4-9c1f-77459844056b&quot;,&quot;f111dcaf-1f87-428b-a84c-44ce254ec363&quot;,&quot;cc911439-aff8-48bc-b9fa-907fe10cb91e&quot;,&quot;9b3f838b-d451-4e4b-b06d-cdd2cd19b0df&quot;,&quot;772cc3aa-6d2c-4ff4-9040-1e86eb4a4a7d&quot;,&quot;36ae9074-e1de-4ae7-ad17-e53b91b01218&quot;,&quot;ccc53b37-5554-4fc3-84cb-4163d5dead99&quot;,&quot;9869a268-c98d-4953-9090-4f33d1944e09&quot;,&quot;b424d371-1c26-46a8-b2c8-6b1868d1f3b9&quot;,&quot;602f9b9c-605c-41b5-9bf9-0c072a66f513&quot;,&quot;7e310ab1-b04f-4ce2-937b-b386257bde20&quot;,&quot;45c63d2d-40ac-41c6-99f4-9622b659263c&quot;,&quot;ffe654d1-ace8-4907-bdbb-edfc093c16e9&quot;,&quot;970b47c2-b5de-4dd7-8aaa-d6f1fc0a665d&quot;,&quot;e03ef350-b632-4c12-884a-261c5bde59d4&quot;,&quot;249ceafd-6565-4d01-8b92-0978d54c2d32&quot;,&quot;77c9d822-4e42-42f1-b135-f940bdffdc33&quot;,&quot;ba4bef4d-972e-424e-8b12-2ce253e84074&quot;,&quot;6e099fa2-4028-48d7-ae57-2bb1767d672d&quot;,&quot;9ef0fe3c-0938-433b-8475-dafe574ac3ac&quot;,&quot;535f06c0-5cc6-4564-a2b3-4ef4dfe92976&quot;,&quot;a90ef7d9-af14-4780-b4a6-ec945175e59e&quot;,&quot;edbe97cb-9df5-47ac-bdc0-8b0c4b88a4b4&quot;,&quot;7535981f-ecd1-4850-b5b2-2fc2b77a9d8d&quot;,&quot;fab2855e-081a-4e78-9f1b-595d680816b7&quot;,&quot;1f22683b-c7ef-4e34-b1af-58dc86931017&quot;,&quot;cf4ae8e4-9de3-4833-8a25-45591555389a&quot;,&quot;0a2f3e74-7e35-4eea-8f01-c550794d8908&quot;,&quot;549df5a0-e64d-44b7-948d-d407a4432bdf&quot;,&quot;b378424d-d0dd-40a6-b2c3-f0542d016f75&quot;,&quot;2dc498f4-7f4a-490c-af12-28feed33821a&quot;,&quot;afd6b2b9-3afd-4ae1-b0dd-52b5350544eb&quot;,&quot;c1d4d495-dc03-43bc-971a-2bdbfce9d1b9&quot;,&quot;10f573e3-896e-432d-8034-405c25c4f7fc&quot;,&quot;4f82251f-e2df-41a1-acdf-2b4f46664851&quot;,&quot;2373a174-0982-4bb8-9395-de8c9f241508&quot;,&quot;6a17bcc2-b83c-4041-a6fe-1555d90f9193&quot;,&quot;9d6746b1-de44-48bf-b4ad-cbcc91e405f8&quot;],&quot;relations&quot;:[],&quot;connection&quot;:&quot;mysql&quot;,&quot;collectionClass&quot;:&quot;Illuminate\\Notifications\\DatabaseNotificationCollection&quot;}}},&quot;checksum&quot;:&quot;4e705611b92f2aaa168f85628bba89429e25f49a68fa6dbef8548c6b2ed345b6&quot;}}" id="kt_notify_account" class="bg-white" x-data="{ isDrawer: false }" x-init="isDrawer = false" x-bind:class="{ 'bg-white drawer drawer-end drawer-on': isDrawer }" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_notify_button" data-kt-drawer-close="#kt_notify_close">
                    <div class="card w-100">
                        <div class="card-header pe-5">
                            <div class="card-title">
                                <div class="d-flex justify-content-center flex-column me-3">
                                    <div class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 lh-1">Notifications</div>
                                </div>
                            </div>
                            <div class="card-toolbar">
                                <div class="btn btn-sm btn-icon btn-icon-dark btn-active-light-primary" data-kt-drawer-dismiss="true" id="kt_drawer_example_basic_close">
                                    <span class="svg-icon svg-icon-2">
                                        <i class="fal fa-times"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-wrap"></div>
                    </div>
                </div>
                <!-- Livewire Component wire-end:J0M9MsqGI1xVNT8lUgAs -->
</livewire:megaphone.popout>
<div>
    <div wire:loading.class.delay="opacity-50" wire:target="block, unblock, terminate, loadMore">
        <div class="toolbar" id="kt_toolbar">
            <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
                <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
                    <h1 class="text-dark fw-bolder my-1 fs-2">Manage Card</h1>
                    <ul class="breadcrumb fw-semibold fs-base my-1">
                        <li class="breadcrumb-item text-muted">
                            <a href="/dashboard" class="text-muted text-hover-primary">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            <a href="/card" class="text-muted text-hover-primary">Cards</a>
                        </li>
                        <li class="breadcrumb-item text-dark">Card</li>
                    </ul>
                </div>
                <div class="d-flex align-items-center flex-nowrap text-nowrap py-1 mb-10">
                    <button data-bs-toggle="modal" data-bs-target="#terminate" class="btn btn-dark me-4">
                        <i class="fal fa-plus"></i>
                        Create Card
                    </button>
                    <div wire:ignore.self id="kt_send_money" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_send_money_button" data-kt-drawer-close="#kt_send_money_close">
                        <div class="card w-100">
                            <div class="card-header pe-5 border-0">
                                <div class="card-title">
                                    <div class="d-flex justify-content-center flex-column me-3">
                                        <div class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 lh-1">Send Money</div>
                                    </div>
                                </div>
                                <div class="card-toolbar">
                                    <div class="btn btn-sm btn-icon btn-icon-dark btn-active-light-primary" data-kt-drawer-dismiss="true" id="kt_send_money_close">
                                        <span class="svg-icon svg-icon-2">
                                            <i class="fal fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-wrap">
                                <div class="btn-wrapper text-center mb-3">
                                    <div class="symbol symbol-100px symbol-circle me-5 mb-10">
                                        <div class="symbol-label fs-1 text-dark">
                                            <i class="fal fa-arrow-down-arrow-up fa-2x"></i>
                                        </div>
                                    </div>
                                    <p class="text-dark fs-6">Swift and Secure Money Transfer </p>
                                </div>
                                <div class="pb-5 mt-10 position-relative zindex-1">
                                    <!--begin::Item-->
                                    <a href="https://nothingdevelopers.xyz/konan/user/transfer/card-method/95a1fa51-88b7-4773-acc9-0e07b355976d/tag">
                                        <div class="d-flex flex-stack mb-6">
                                            <div class="d-flex align-items-center me-2">
                                                <div class="symbol symbol-45px me-5">
                                                    <span class="symbol-label bg-light-primary text-dark">
                                                        <i class="fal fa-user"></i>
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="fs-5 text-gray-800 text-hover-primary fw-bolder mb-0">Transfer Tag</p>
                                                    <div class="fs-7 text-gray-800 fw-semibold">Easily send money to other Konan users</div>
                                                    <div class="fs-7 text-gray-600 fw-semibold">0.1% + 0 GBP
                                                         </div>
                                                </div>
                                            </div>
                                            <p class="btn btn-icon btn-light btn-sm">
                                                <i class="fal fa-arrow-right text-dark"></i>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="https://nothingdevelopers.xyz/konan/user/transfer/card-method/95a1fa51-88b7-4773-acc9-0e07b355976d/card">
                                        <div class="d-flex flex-stack mb-6">
                                            <div class="d-flex align-items-center me-2">
                                                <div class="symbol symbol-45px me-5">
                                                    <span class="symbol-label bg-light-primary text-dark">
                                                        <i class="fal fa-credit-card-front"></i>
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="fs-5 text-gray-800 text-hover-primary fw-bolder mb-0">Virtual Card</p>
                                                    <div class="fs-7 text-gray-800 fw-semibold">Transfer money to other Konan users prepaid card</div>
                                                    <div class="fs-7 text-gray-600 fw-semibold">0.1% + 0 GBP
                                                         </div>
                                                </div>
                                            </div>
                                            <p class="btn btn-icon btn-light btn-sm">
                                                <i class="fal fa-arrow-right text-dark"></i>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="https://nothingdevelopers.xyz/konan/user/transfer/card-method/95a1fa51-88b7-4773-acc9-0e07b355976d/sepa">
                                        <div class="d-flex flex-stack mb-6">
                                            <div class="d-flex align-items-center me-2">
                                                <div class="symbol symbol-45px me-5">
                                                    <span class="symbol-label bg-light-primary text-dark">
                                                        <i class="fal fa-shuffle"></i>
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="fs-5 text-gray-800 text-hover-primary fw-bolder mb-0">Sepa Wire Transfer</p>
                                                    <div class="fs-7 text-gray-800 fw-semibold">
                                                        Wire transfer is executed over SEPA, Iban<br> & bic are required.
                                                    </div>
                                                    <div class="fs-7 text-gray-600 fw-semibold">0.3% + 0 GBP
                                                         </div>
                                                </div>
                                            </div>
                                            <p class="btn btn-icon btn-light btn-sm">
                                                <i class="fal fa-arrow-right text-dark"></i>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="https://nothingdevelopers.xyz/konan/user/transfer/card-method/95a1fa51-88b7-4773-acc9-0e07b355976d/faster">
                                        <div class="d-flex flex-stack mb-6">
                                            <div class="d-flex align-items-center me-2">
                                                <div class="symbol symbol-45px me-5">
                                                    <span class="symbol-label bg-light-primary text-dark">
                                                        <i class="fal fa-shuffle"></i>
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="fs-5 text-gray-800 text-hover-primary fw-bolder mb-0">Faster Payment</p>
                                                    <div class="fs-7 text-gray-800 fw-semibold">
                                                        Wire transfer is executed over Faster Payments,<br>Account number & sort code are required.
                                                    </div>
                                                    <div class="fs-7 text-gray-600 fw-semibold">0.6% + 0 GBP
                                                         </div>
                                                </div>
                                            </div>
                                            <p class="btn btn-icon btn-light btn-sm">
                                                <i class="fal fa-arrow-right text-dark"></i>
                                            </p>
                                        </div>
                                    </a>
                                    <!--end::Item-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <button data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" class="btn btn-dark">
                        <i class="fal fa-circle-chevron-down"></i>
                        More Options
                    </button>
                    <!-- <div wire:ignore.self class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true"> -->
                        <!-- <div class="menu-item px-3"> -->
                            <!-- <a href="#" class="menu-link px-3 py-3" data-bs-toggle="modal" data-bs-target="#withdraw"> -->
                                <!-- <i class="fal fa-university me-3"></i> -->
                                <!-- Withdraw to Account -->
<!--                              -->
                            <!-- </a> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div wire:ignore.self class="modal fade" id="withdraw" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true"> -->
                        <!-- <div class="modal-dialog" role="document"> -->
                            <!-- <div class="modal-content"> -->
                                <!-- <div class="modal-header"> -->
                                    <!-- <h3 class="modal-title">Withdraw to Account</h3> -->
                                    <!-- <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close"> -->
                                        <!-- <span class="svg-icon svg-icon-1"> -->
                                            <!-- <i class="fal fa-times"></i> -->
                                        <!-- </span> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                                <!-- <div class="modal-body"> -->
                                    <!-- <form action='/withdrawcard' method="post"> -->
                                        <!-- <div class="fv-row mb-6"> -->
                                            <!-- <div class="input-group mb-3"> -->
                                                <!-- <span class="input-group-text border-0 fs-2">$</span> -->
                                                <!--  <input class="form-control form-control-lg form-control-solid fs-2 fw-bold " type="text" step="any" name="amount" autocomplete="transaction-amount" id="amountWithdraw" min="1" max="1.15" value="" required placeholder="0.00"/> --> 
                                                <!-- <span class="input-group-text border-0"> -->
                                                    <!-- <span class="fal fa-credit-card rounded-4 me-3 fs-1"></span> -->
                                                <!-- </span> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                        <!-- <div class="bg-light-primary px-6 py-5 mb-10 rounded"> -->
                                            <!-- <p class="text-dark fw-bold fs-6 mb-0"> -->
                                                <!-- Balance after transaction: <span id="balanceAfterWithdraw">$ 0.00 USD</span> -->
                                            <!-- </p> -->
                                            <!-- <p class="text-dark fw-bold fs-6 mb-0"> -->
                                                <!-- Fee: <span id="feeWithdraw">$0.00 USD</span> -->
                                            <!-- </p> -->
                                        <!-- </div> -->
                                        <!-- <div class="text-center mt-10"> -->
                                            <!-- <button type="submit" class="btn btn-lg btn-primary btn-block fw-bolder me-3 my-2"> -->
                                                <!-- <span>Withdraw from Card</span> -->
                                            <!-- </button> -->
                                        <!-- </div> -->
                                    <!-- </form> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div wire:ignore.self class="modal fade" id="terminate" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true"> -->
                        <!-- <div class="modal-dialog" role="document"> -->
                            <!-- <div class="modal-content"> -->
                                <!-- <div class="modal-header"> -->
                                    <!-- <h3 class="modal-title">Create  Card</h3> -->
                                    <!-- <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close"> -->
                                        <!-- <span class="svg-icon svg-icon-1"> -->
                                            <!-- <i class="fal fa-times"></i> -->
                                        <!-- </span> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                                <!-- <div class="modal-body"> -->
                                    <!-- <p>A prepaid card has its own balance and can have -->
                                        <!-- funds transferred to it.</p> -->
                                    <!-- <form action='/createcard' method="post"> -->
                                        <!-- <div class="input-group mb-3"> -->
                                            <!-- <span class="input-group-text border-0 fs-2"><%=user.currency%></span> -->
                                             <!--  <input class="form-control form-control-lg form-control-solid fs-2 fw-bold " type="text" step="any" name="amount" autocomplete="transaction-amount" id="amount" min="1" max="1.15" value="" required placeholder="0.00"/>  --> 
                                            <!-- <span class="input-group-text border-0"> -->
                                                <!-- <span class="fal fa-credit-card rounded-4 me-3 fs-1"></span> -->
                                            <!-- </span> -->
                                        <!-- </div> -->
                                        <!-- <div class="text-center"> -->
                                            <!-- <button type="submit" class="btn btn-primary btn-block"> -->
                                                <!-- <span>Create Card</span> -->
                                            <!-- </button> -->
                                        <!-- </div> -->
                                    <!-- </form> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <div wire:ignore.self id="kt_settings" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_settings_button" data-kt-drawer-close="#kt_settings_close" data-kt-drawer-width="{'md': '500px'}">
                        <div class="card w-100">
                            <div class="card-header pe-5 border-0">
                                <div class="card-title">
                                    <div class="d-flex justify-content-center flex-column me-3">
                                        <div class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 lh-1">Card Settings</div>
                                    </div>
                                </div>
                                <div class="card-toolbar">
                                    <div class="btn btn-sm btn-icon btn-icon-dark btn-active-light-primary" data-kt-drawer-dismiss="true" id="kt_settings_close">
                                        <span class="svg-icon svg-icon-2">
                                            <i class="fal fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-wrap">
                                <div class="btn-wrapper text-center mb-3">
                                    <div class="symbol symbol-100px symbol-circle me-5 mb-10">
                                        <div class="symbol-label fs-1 text-dark">
                                            <i class="fal fa-cogs fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-5 mt-10 position-relative zindex-1">
                                    <form wire:submit.prevent="configureCard" method="post">
                                        <div class="d-flex flex-stack">
                                            <div class="d-flex">
                                                <div class="d-flex flex-column">
                                                    <h5>Min Transaction</h5>
                                                    <p class="fs-7">If the transaction amount is less than this value, then the transaction will be declined.</p>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <input class="form-control form-control-lg form-control-solid" type="number" wire:model="min_trx">
                                            </div>
                                        </div>
                                        <div class="separator separator-dashed my-5"></div>
                                        <div class="d-flex flex-stack">
                                            <div class="d-flex">
                                                <div class="d-flex flex-column">
                                                    <h5>Max Transaction</h5>
                                                    <p class="fs-7">If the transaction amount is less than this value, then the transaction will be declined.</p>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <input class="form-control form-control-lg form-control-solid" type="number" wire:model="max_trx">
                                            </div>
                                        </div>
                                        <div class="separator separator-dashed my-5"></div>
                                        <div class="table-responsive">
                                            <table class="table table-row-dashed border-gray-300 align-middle gy-6">
                                                <tbody class="fs-6 fw-semibold">
                                                    <!--begin::Table row-->
                                                    <tr>
                                                        <td class="min-w-400px">
                                                            <h5>Contactless</h5>
                                                            <p class="fs-7">Indicates if a contactless transaction is allowed on this card.</p>
                                                        </td>
                                                        <td class="w-125px">
                                                            <div class="form-check form-check-custom form-check-solid">
                                                                <input class="form-check-input" type="checkbox" wire:model="contactless">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="min-w-400px">
                                                            <h5>ATM</h5>
                                                            <p class="fs-7">Indicates if an ATM Withdrawal transaction is allowed on this card.</p>
                                                        </td>
                                                        <td class="w-125px">
                                                            <div class="form-check form-check-custom form-check-solid">
                                                                <input class="form-check-input" type="checkbox" wire:model="atm">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="min-w-400px">
                                                            <h5>Online Transactions</h5>
                                                            <p class="fs-7">Indicates if an online transaction is allowed on this card.</p>
                                                        </td>
                                                        <td class="w-125px">
                                                            <div class="form-check form-check-custom form-check-solid">
                                                                <input class="form-check-input" type="checkbox" wire:model="online">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="min-w-400px">
                                                            <h5>Cashback</h5>
                                                            <p class="fs-7">Indicates if a cashback transaction at a physical terminal is allowed on this card.</p>
                                                        </td>
                                                        <td class="w-125px">
                                                            <div class="form-check form-check-custom form-check-solid">
                                                                <input class="form-check-input" type="checkbox" wire:model="cashback" checked>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="min-w-400px">
                                                            <h5>Credit Authorisations</h5>
                                                            <p class="fs-7">Indicates if a this card can receive a credit transaction.</p>
                                                        </td>
                                                        <td class="w-125px">
                                                            <div class="form-check form-check-custom form-check-solid">
                                                                <input class="form-check-input" type="checkbox" wire:model="credit_auth">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <!--begin::Table row-->
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-block">
                                                    <span wire:loading.remove wire:target="configureCard">Save Configuration</span>
                                                    <span wire:loading wire:target="configureCard">Updating card...</span>
                                                </button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post fs-6 d-flex flex-column-fluid min-vh-100" id="kt_post">
        <div class="container">
            <div class="row g-xl-8">
                <div class="col-md-4">
                    <div class="card mb-6 rounded-4">
                        <div class="card-body dd-bg">
                            <div class="row mb-6">
                                <div class="col-6">
                                    <h4 class="text-dark"><%=user.currency%><%=user.cardBal%></h4>
                                </div>
                                <div class="col-6 text-end">
                                    <img style="height:auto; max-width:40%;" src="storage/app/public/mastercard.png ">
                                </div>
                            </div>
                            <div class="row mb-6">
                                <div class="col-12 text-center">
                                    <h2 class="mb-3 text-dark h1">
                                        <span id="cardNumber"><%=user.cardNumb%></span>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                  <span class="badge badge-pill badge-secondary badge-sm text-dark"><%=user.card_status%></span>
                                </div>
                                <div class="col-4 text-end">
                                    <p class="text-dark mb-0 ">
                                        <span id="cvv"><%=user.card_cvv%></span>
                                    </p>
                                    <span class="text-dark text-xs">CVV</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white px-6 py-5 mb-10 rounded-4">
                        <p class="text-dark fs-5 fw-bolder">Card Details</p>
                        <li class="d-flex align-items-center py-2">
                            <span class="bullet me-5 bg-primary bullet-vertical"></span>
                            <span>
                                Name In Card: <%=user.firstname%><%=user.lastname%> <i class="fal fa-clone castro-copy fs-5" data-clipboard-text="<%=user.firstname%><%=user.lastname%>" title="Copy"></i>
                            </span>
                        </li>
                        <li class="d-flex align-items-center py-2">
                            <span class="bullet me-5 bg-primary bullet-vertical"></span>
                            <span>
                                Card Number: <%=user.cardNumb%> <i class="fal fa-clone castro-copy fs-5" data-clipboard-text="<%=user.cardNumb%>" title="Copy"></i>
                            </span>
                        </li>
                        <li class="d-flex align-items-center py-2">
                            <span class="bullet me-5 bg-primary bullet-vertical"></span>
                            <span>
                                EXP: <%=user.card_exp%> <i class="fal fa-clone castro-copy fs-5" data-clipboard-text="01/27" title="Copy"></i>
                            </span>
                        </li>
                        <li class="d-flex align-items-center py-2">
                            <span class="bullet me-5 bg-primary bullet-vertical"></span>
                            <span>
                                CVV: <%=user.card_cvv%><i class="fal fa-clone castro-copy fs-5" data-clipboard-text="<%=user.card_cvv%>" title="Copy"></i>
                            </span>
                        </li>
                        <li class="d-flex align-items-center py-2">
                            <span class="bullet me-5 bg-primary bullet-vertical"></span>
                            <span>
                                Card Type: <%=user.card_type%><i class="fal fa-clone castro-copy fs-5" data-clipboard-text="<%=user.card_type%>" title="Copy"></i>
                            </span>
                        </li>
                    </div>
                </div>
                <div class="col-md-8">
                    <div wire:id="KN2WMCiMi8MgnqTqz4kL" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;KN2WMCiMi8MgnqTqz4kL&quot;,&quot;name&quot;:&quot;transactions.card&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;user\/card\/manage\/95a1fa51-88b7-4773-acc9-0e07b355976d&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;6b59b225&quot;,&quot;data&quot;:{&quot;perPage&quot;:20,&quot;user&quot;:[],&quot;admincheck&quot;:0,&quot;card&quot;:[],&quot;search&quot;:&quot;&quot;,&quot;status&quot;:&quot;&quot;,&quot;exportType&quot;:null,&quot;exportAs&quot;:null,&quot;date&quot;:null,&quot;orderBy&quot;:&quot;desc&quot;},&quot;dataMeta&quot;:{&quot;models&quot;:{&quot;user&quot;:{&quot;class&quot;:&quot;App\\Models\\User&quot;,&quot;id&quot;:&quot;92647996-3b3d-4510-895d-2b1a85d093e0&quot;,&quot;relations&quot;:[&quot;getCountrySupported&quot;,&quot;getCountrySupported.real&quot;,&quot;business&quot;],&quot;connection&quot;:&quot;mysql&quot;,&quot;collectionClass&quot;:null},&quot;card&quot;:{&quot;class&quot;:&quot;App\\Models\\Virtual&quot;,&quot;id&quot;:&quot;95a1fa51-88b7-4773-acc9-0e07b355976d&quot;,&quot;relations&quot;:[],&quot;connection&quot;:&quot;mysql&quot;,&quot;collectionClass&quot;:null}}},&quot;checksum&quot;:&quot;7bcba666569027900ee98b7188984b1e404707fc38ef8a212c9728bcd6128149&quot;}}">
                        <div class="row g-xl-8">
                            <div wire:ignore.self class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Filter Transaction</h3>
                                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                                <span class="svg-icon svg-icon-1">
                                                    <i class="fal fa-times"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="fv-row mb-6">
                                                <label class="form-label fs-6 fw-bolder text-dark">Date Range</label>
                                                <input class="form-control form-control-lg form-control-solid" placeholder="Pick date rage" value="1704386312416 - 1704386312416" name="date" id="range" onchange="this.dispatchEvent(new InputEvent('input'))" wire:model="date">
                                            </div>
                                            <div class="fv-row mb-6">
                                                <label class="form-label fs-6 fw-bolder text-dark">Status</label>
                                                <select class="form-select form-select-solid" wire:model="status">
                                                    <option value="">Select status</option>
                                                    <option value="COMPLETED">Completed</option>
                                                    <option value="PENDING">Pending</option>
                                                </select>
                                            </div>
                                            <div class="fv-row mb-6">
                                                <label class="form-label fs-6 fw-bolder text-dark">Sort by</label>
                                                <select class="form-select form-select-solid" wire:model="orderBy">
                                                    <option value="asc">ASC</option>
                                                    <option value="desc">DESC</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div wire:ignore.self class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Export Transactions</h3>
                                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                                <span class="svg-icon svg-icon-1">
                                                    <i class="fal fa-times"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <form wire:submit.prevent="save(Object.fromEntries(new FormData($event.target)))">
                                            <div class="modal-body">
                                                <input type="hidden" name="_token" value="HLnl1V9bCl0L3nRb0QC5WvGOCRWZu54r6nbDSq33">
                                                <div class="fv-row mb-6">
                                                    <label class="form-label fs-6 fw-bolder text-dark">File Format</label>
                                                    <select class="form-select form-select-solid" name="exportType" required>
                                                        <option value="">Select file type</option>
                                                        <option value="csv">CSV</option>
                                                        <option value="excel">Excel</option>
                                                    </select>
                                                </div>
                                                <div class="fv-row mb-6">
                                                    <label class="form-label fs-6 fw-bolder text-dark">Export as</label>
                                                    <select class="form-select form-select-solid" name="exportAs" required>
                                                        <option value="">How do you want to receive this file?</option>
                                                        <option value="download">Download file</option>
                                                        <option value="email">Send file to email</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-block btn-primary" type="submit">
                                                    <i class="fal fa-file-export"></i>
                                                    <span wire:loading.remove wire:target="save">Export</span>
                                                    <span wire:loading wire:target="save">Exporting file...</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12 col-md-12"> -->
                                <!-- <div class="card rounded-4"> -->
                                    <!-- <div class="card-body"> -->
                                        <!-- <div class="row mb-6"></div> -->
                                        <!--  <div class="" wire:loading.class.delay="opacity-50" wire:target="search, status, orderBy, perPage, date"> --> 
                                            <!-- <div class="table-responsive"> -->
                                                <!--  <table class="table align-middle table-row-bordered table-row-gray-300 gy-5 gs-7" id="kt_datatable_example_5"> --> 
                                                    <!-- <thead> -->
                                                        <!-- <tr class="text-start text-dark fw-bolder fs-6 text-uppercase px-7"> -->
                                                            <!-- <th></th> -->
                                                            <!-- <th class="min-w-150px">Amount</th> -->
                                                            <!-- <th class="min-w-50px">Reference ID</th> -->
                                                            <!-- <th class="min-w-200px">Created</th> -->
                                                        <!-- </tr> -->
                                                        <!-- end::Table row -->
                                                    <!-- </thead> -->
                                                    <!-- <tbody class="fw-semibold text-dark fs-6"> -->
                                                        <!-- <h3>No Card Transaction </h3> -->
<!-- </tr></tbody></table></div></div></div></div></div> -->
</div>
<div wire:ignore.self id="kt_trx_111698661029511197" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_trx_111698661029511197_button" data-kt-drawer-close="#kt_trx_111698661029511197_close">
    <div class="card w-100">
        <div class="card-header pe-5 border-0">
            <div class="card-title">
                <div class="d-flex justify-content-center flex-column me-3">
                    <div class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 lh-1">Transaction Details</div>
                </div>
            </div>
            <div class="card-toolbar">
                <div class="btn btn-sm btn-icon btn-icon-dark btn-active-light-primary" data-kt-drawer-dismiss="true" id="kt_trx_111698661029511197_close">
                    <span class="svg-icon svg-icon-2">
                        <i class="fal fa-times"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-body text-wrap">
            <div class="btn-wrapper text-center mb-3">
                <div class="symbol symbol-100px symbol-circle me-5 mb-10">
                    <div class="symbol-label fs-1 text-dark">
                        <i class="fal fa-plus fa-2x"></i>
                    </div>
                </div>
                <p class="text-dark fs-1 fw-bolder">1.00 GBP</p>
            </div>
            <div class="d-flex flex-column">
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5 bg-primary bullet-vertical"></span>
                    <span>
                        Reference: 111698661029511197 <i class="fal fa-clone castro-copy fs-5" data-clipboard-text="111698661029511197" title="Copy"></i>
                    </span>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5 bg-primary bullet-vertical"></span>
                    <span>Charge: 0.00 GBP</span>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5 bg-primary bullet-vertical"></span>
                    <span>Date: Thu, Jan 4, 2024 4:38 PM</span>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5 bg-primary bullet-vertical"></span>
                    <span>
                        Status: <span class="badge badge-pill badge-secondary badge-sm">Completed</span>
                    </span>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5 bg-primary bullet-vertical"></span>
                    <span>**** 4943 [John Doe]</span>
                </li>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Livewire Component wire-end:KN2WMCiMi8MgnqTqz4kL -->
</div></div></div></div></div></div>
<!-- Livewire Component wire-end:cavszLaYf1ubXIcCtpHy -->
</div>
<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-2">2023 </span>
            <a href="/" target="_blank" class="text-gray-800 text-hover-primary">CAPITAL SWIFT BANK</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <!--end::Menu-->
    </div>
    <!--end::Container-->
</div>
<!--end::Footer-->
</div><script src="dash2/konanauth/public/dashboard/plugins/global/plugins.bundle.js"></script>
<script src="dash2/konanauth/plugins/global/plugins.bundle.js"></script>
<script src="dash2/konanauth/public/dashboard/js/scripts.bundle.js"></script>
<script src="dash2/konanauth/public/asset/fonts/fontawesome/js/all.js"></script>
<script src="dash2/konanauth/public/dashboard/js/custom/general.js"></script>
<script src="dash2/konanauth/public/asset/fonts/fontawesome/js/all.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en'
        },'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body></html><script src="dash2/konanauth/public/dashboard/js/alpine.js"></script>
<script>
    (function() {
        window.onload = function() {
            const preloader = document.querySelector('.page-loading');
            preloader.classList.remove('active');
            setTimeout(function() {
                preloader.remove();
            }, 1000);
        }
        ;
    }
    )();
</script>
