<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="csrf-token" content="QfZeg2Tb7pQvwUg6AJO4IpDW0DTYJ0sCoPPtd6O8">
  <title>CAPITAL SWIFT BANK | Local Transfer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Swift and Secure Money Transfer to any UK bank account will become a breeze with PIXEL VERSE BANK." />
  <meta name="csrf_token" content="QfZeg2Tb7pQvwUg6AJO4IpDW0DTYJ0sCoPPtd6O8" id="csrf_token" data-turbolinks-permanent>
  <link rel="shortcut icon" href="storage/app/public/photos/vfrIHvABt6idQp5IfHdDn5z1qz6Ul3GBMRL2x0tE.jpg" />
  <link rel="stylesheet" href="dash2/libs/%40fortawesome/fontawesome-pro/css/all.min.css">
  <link href="dash2/konanauth/public/asset/fonts/fontawesome/css/all.css" rel="stylesheet" type="text/css">
  <link href="dash2/public/dashboard/plugins/custom/leaflet/leaflet.bundle.css" rel="stylesheet" type="text/css" />
  <link href="dash2/konanauth/public/dashboard/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="dash2/konanauth/public/dashboard/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
  <link rel="stylesheet" href="dash2/konanauth/public/vendor/megaphone/css/megaphone.css">
  <style >[wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid], [wire\:loading\.inline-flex] {display: none;}[wire\:loading\.delay\.shortest], [wire\:loading\.delay\.shorter], [wire\:loading\.delay\.short], [wire\:loading\.delay\.long], [wire\:loading\.delay\.longer], [wire\:loading\.delay\.longest] {display:none;}[wire\:offline] {display: none;}[wire\:dirty]:not(textarea):not(input):not(select) {display: none;}input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {animation-duration: 50000s;animation-name: livewireautofill;}@keyframes  livewireautofill { from {} }</style>
    
    <style>
        @font-face {
        font-family: Graphik;
        font-weight: 400;
        src: url("dash2/konanauth/public/public/asset/fonts/Graphik/GraphikRegular.otf");
    }

    

    @font-face {
        font-family: Graphik;
        font-weight: 700;
        src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikMedium.otf");
    }

    @font-face {
        font-family: Graphik;
        font-weight: 800;
        src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikBold.otf ");
    }

    @font-face {
        font-family: Graphik;
        font-weight: 900;
        src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikMedium.otf");
    }
</style>

<style>

.iti {
    position: relative;
    display: block;
}

body
{
    font-family: "Graphik", sans-serif;
}
pre,code,kbd,samp
{
    font-family: "Graphik", Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
.tooltip
{
    font-family: "Graphik", sans-serif;
}
.popover
{
    font-family: "Graphik", sans-serif;
}
.text-monospace
{
    font-family: "Graphik", Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}
.btn-group-colors > .btn:before
{
    font-family: "Graphik", sans-serif;
}
.has-danger:after
{
    font-family: 'Graphik';
}
.fc-icon
{
    font-family: "Graphik", sans-serif;
}
.ql-container
{
    font-family: "Graphik", sans-serif;
}
</style>

<style>
    .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color:#ffffff;
        visibility: hidden;
        z-index: 9999;
    }

    .page-loading.active {
        opacity: 1;
        visibility: visible;
    }

    .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
    }

    .page-loading.active>.page-loading-inner {
        opacity: 1;
    }

    .page-loading-inner>span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
    }

    .page-spinner {
        display: inline-block;
        width: 4.75rem;
        height: 4.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #0a24f4;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
    }

    @-webkit-keyframes spinner {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes  spinner {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style></head>
<div class='text-center'>
    
    <div id="google_translate_element"></div>
</div>


<body id="kt_body" class="bg-white header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-fixed aside-default-enabled">
  <div class="page-loading active text-indigo">
    <div class="page-loading-inner">
      <div class="page-spinner"></div><span></span>
    </div>
  </div>
  <!--begin::Main-->
  <div class="d-flex flex-column flex-root">
    
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
      <!--begin::Aside-->
      <div class="d-flex flex-column flex-lg-row-fluid py-10">
    <div class="d-flex flex-center flex-column flex-column-fluid">
        
        <div class="w-lg-500px w-100 p-10 p-lg-15 mx-auto">
            <div>
    </div>                        <div >
        <% if(infoSubmitObj != '') { %>
            <div class="col-8 alert alert-success" role="alert">
              <%= infoSubmitObj %>
            </div>
          <% } %>
        
          <% if(infoErrorsObj != '') { %>
            <div class="col-8 alert alert-danger" role="alert">
              <%= infoErrorsObj[0].message %>
            </div>
          <% } %>
    
    <form class="form w-100" action="/localtransfer/<%=user._id%>"  method="post">  
               <h3 class="text-dark mb-3">Local Transfer</h3>
        </div>
        <div class="fv-row mb-6">
            <div class="input-group mb-3">
                <span class="input-group-text border-0 fs-2"><%=user.currency%></span>
                                <input class="form-control form-control-lg form-control-solid fs-2 fw-bold " type="number" step="any" name="amount" autocomplete="transaction-amount" id="amount"  value="" required placeholder="0.00" />
                                <span class="input-group-text border-0"><i class="fal fa-money" aria-hidden="true"></i></span>
            </div>
                    </div>
                    <div class="fv-row mb-5 form-floating">
                        <input class="form-control form-control-lg form-control-solid fs-2 " id="accName" type="text" name="accName" autocomplete="name"  required />
                        <label class="form-label fs-6 fw-bolder text-dark" for="accountname">Beneficiary Account Name</label>
                    </div>
        <div class="fv-row mb-5 form-floating">
                        <input class="form-control form-control-lg form-control-solid fs-2 " id="accNo" type="text" name="accNo" autocomplete="name" required />
                        <label class="form-label fs-6 fw-bolder text-dark" for="accountnumber">Beneficiary Account Number</label>
                    </div>

                    <div class="fv-row mb-5 form-floating">
                        <input class="form-control form-control-lg form-control-solid fs-2 " id="Bank" type="text" name="Bank" autocomplete="name"  required />
                        <label class="form-label fs-6 fw-bolder text-dark" for="Bank">Bank name</label>
                    </div>
        

                    <div class="fv-row mb-5 form-floating">
                       
                        <select class="form-control form-control-lg form-control-solid fs-2 "  type="text" name ='type' id="type" autocomplete="type" value="" readonly required />
                                                        <option value="Online Banking">Online Banking</option>
                                                         <option value="Joint Account">Joint Account</option>
                                                         <option value="Checking">Checking</option>
                                                         <option value="Savings Account">Savings Account</option>
                    </select>
                    <label class="form-label fs-6 fw-bolder text-dark" for="Accounttype">Transfer Type</label>
                    </div>
       
        <div class="fv-row mb-5 form-floating">
            <input class="form-control form-control-lg form-control-solid fs-2 " type="password" pattern="[0-9]+" minlength="4" maxlength="10" name="pin" required data-toggle="password" id="pin" value="<%=user.pins%>" autocomplete="one-time-code" />
            <label class="form-label fw-bolder text-dark fs-6 mb-0" for="password">Pin</label>
                    </div>
        <div class="fv-row mb-5 form-floating">
                        <textarea class="form-control form-control-lg form-control-solid fs-2 " rows="3" type="text" name="note" id="note" autocomplete="off"></textarea>
                        <label class="form-label fw-bolder text-dark fs-6 mb-0" for="note">Note</label>
                    </div>
        <div class="bg-light-primary px-6 py-5 mb-10 rounded">
            <p class="text-dark fw-bold fs-6 mb-0">Balance before transaction: <span id="balanceAfter"><%=user.currency %> <%=user.balance%></span></p>
            <p class="text-dark fw-bold fs-6 mb-0">Fee: <span id="fee"><%=user.fees %></span></p>
        </div>
        <div class="text-center mt-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block fw-bolder me-3 my-2">
                <span >Transfer</span>
                
            </button>
            <a href="/dashboard" class="btn btn-light-primary btn-lg btn-block fw-bolder my-2">
                <i class="fal fa-arrow-left"></i> Back to dashboard
            </a>
        </div>
    </form>
</div>
       </div>
    </div>
</div>
    </div>
    <!--end::Authentication - Sign-in-->
  </div>
  

<script src="dash2/konanauth/public/dashboard/plugins/global/plugins.bundle.js"></script>
<script src="dash2/konanauth/plugins/global/plugins.bundle.js"></script>
<script src="dash2/konanauth/public/dashboard/js/scripts.bundle.js"></script>
<script src="dash2/konanauth/public/asset/fonts/fontawesome/js/all.js"></script>
<script src="dash2/konanauth/public/dashboard/js/custom/general.js"></script>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>
<script src="dash2/konanauth/public/vendor/livewire/livewire.js?id=90730a3b0e7144480175" data-turbo-eval="false" data-turbolinks-eval="false" ></script>


  <script>
  (function() {
    window.onload = function() {
      const preloader = document.querySelector('.page-loading');
      preloader.classList.remove('active');
      setTimeout(function() {
        preloader.remove();
      }, 1000);
    };
  })();
</script>
